<h1>About mySwoops</h1>
<p>mySwoops is a place where motorcycle enthusiasts can home and keep track of their recent rides (or Swoops). Additionally, the riders will be able to share their swoops with others and develop a following of riders. Riders will also be able to comment on each other's rides as well as invite others to rides.</p>
<p>Our hope is that you find this website enjoyable, useful, and quite frankly, addictive!!!!</p>
