<header>
  <%= image_tag("logo.png", :alt => "mySwoops", :class => "round") %>
</header>
<nav class="round_top">
  <ul>
	<li>
	  <%= link_to "Home", "#" %>
	</li>
	<li>
	  <%= link_to "About", "#" %>
	</li>
	<li>
	  <%= link_to "Contact", "#" %>
	</li>
  </ul>
</nav>